* {
    outline: 1px solid tomato;
}



:root {
    --wc: #ffffff;
    --bc: #000000;
    --gc: rgb(128, 128, 128);
}

@media (max-width: 768px) {
    html {
        font-size: 0.25641025641vw;
    }
}


/* header==================================================================*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    transition: 0.5s;
}

.header.on {
    background: var(--wc);
    border-bottom: 1px solid rgb(229, 229, 229);
}

.header .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100rem;
}

.header h1 {
    font-size: 0;
}

.header h1 img {
    filter: invert();
}

.header.on h1 img {
    filter: invert(0%);
}

.gnb .main_menu {
    display: flex;
}

.gnb .main_menu>li {
    position: relative;
    padding: 0 30rem;
}

.header .gnb .main_menu a {
    display: block;
    color: var(--wc);
    font-size: 16rem;
    white-space: nowrap;
}

.header.on .gnb .main_menu a {
    color: var(--gc);
}

.gnb .main_menu .sub_menu {
    position: absolute;
    top: 100rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: var(--wc);
    width: 200rem;
    text-align: center;

    padding: 15rem 0;
    border-radius: 8px;
    border: 2px solid var(--lc);
    box-shadow: rgba(38, 45, 57, 0.16) 0px 4px 16px;

    opacity: 0;
    visibility: hidden;

    transition: 0.5s;
}

.gnb .main_menu>li:hover .sub_menu {
    top: 60rem;
    opacity: 1;
    visibility: visible;
}

.header.on .gnb .main_menu>li:hover .sub_menu {
    top: 70rem;
}

.gnb .sub_menu li~li {
    border-top: 1px solid var(--lc);
}

.header .gnb .sub_menu a {
    display: block;
    color: var(--gc);
    font-size: 14rem;
    line-height: 40rem;
}

.mobile_btn {
    display: none;
}


/* header_mobile=============================================================== */
@media (max-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;

        transition: 0.5s;
    }

    .header.on {
        background: var(--wc);
        border-bottom: 1px solid rgb(229, 229, 229);
    }

    .header .header_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100rem;

        /* r */
        height: 56rem;
    }

    .header h1 {
        font-size: 0;
        /* r */
        position: fixed;
        z-index: 1000;
        padding: 0 0 0 10rem;
    }

    .header h1 img {
        filter: invert();
        /* r */
        height: 17rem;
    }

    .header .gnb.on .main_menu a {
        color: #000000;
    }

    .header.on h1 img {
        filter: invert(0%);
    }

    .header.on .mobile_btn {
        background: var(--bc);
        border-radius: 2px;
    }

    /* r */
    .gnb {
        position: fixed;
        inset: 0 100% 0 auto;
        background: var(--wc);
        width: 100%;

        transition: 0.5s;
    }

    .gnb.on {
        inset: 0 0 0 auto;
    }

    .gnb .main_menu {
        display: flex;
        /* r */
        flex-direction: column;
        gap: 0;
        padding: 150rem 20rem 0 20rem;
    }

    .gnb .main_menu>li {
        position: relative;
        padding: 0 30rem;
        /* r */
        border-bottom: 1px solid #ddd;
        line-height: 40rem;
    }

    .header .gnb .main_menu a {
        display: block;
        color: var(--wc);
        font-size: 16rem;
        white-space: nowrap;
    }

    .header.on .gnb .main_menu a {
        /* r */
        color: var(--bc);
    }

    .gnb .main_menu .sub_menu {
        /* r */
        /* position: absolute; */
        position: static;
        padding: 0 0 0 0;

        top: 0;
        left: 0;
        transform: translate(0, 0);
        background: var(--wc);
        width: auto;
        text-align: left;

        padding: 15rem 0;
        border-radius: none;
        border: none;
        box-shadow: none;

        opacity: 1;
        visibility: visible;

        transition: none;
    }

    .gnb .main_menu>li:hover .sub_menu {
        top: 60rem;
        opacity: 1;
        visibility: visible;
    }

    .header.on .gnb .main_menu>li:hover .sub_menu {
        top: 70rem;
    }

    .gnb .sub_menu li~li {
        border-top: 1px solid var(--lc);
    }

    .header .gnb .sub_menu a {
        display: block;
        color: var(--gc);
        font-size: 14rem;
        line-height: 40rem;
    }

    /* r */
    .mobile_btn {
        display: block;

        position: fixed;
        top: 15rem;
        right: 15rem;
        z-index: 999;

        width: 30rem;
        height: 30rem;


    }

    .mobile_btn::before {
        content: "";
        position: absolute;
        top: 7rem;
        left: 5rem;
        right: 5rem;
        height: 2rem;
        background: var(--wc);
    }

    .mobile_btn::after {
        content: "";
        position: absolute;
        bottom: 7rem;
        left: 5rem;
        right: 5rem;
        height: 2rem;
        background: var(--wc);
    }

    .mobile_btn.on::before {
        display: none;
    }

    .mobile_btn.on::after {
        display: none;
    }

    .mobile_btn button {
        border: none;
        background: transparent;
        outline: none;
    }

    .mobile_btn button::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 5rem;
        right: 5rem;
        height: 2rem;
        background: var(--wc);
        transform: translate(0, -50%);
        transition: 0.5s;
    }

    .mobile_btn button::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 5rem;
        right: 5rem;
        height: 2rem;
        background: var(--wc);
        transform: translate(0, -50%);
        transition: 0.5s;
    }

    .mobile_btn.on button::before {
        transform: translate(0, -50%) rotate(45deg);
    }

    .mobile_btn.on button::after {
        transform: translate(0, -50%) rotate(-225deg);
    }
}




/* main_visual */
.main_visual {
    position: relative;
    height: 100vh;
}

.main_visual .main_pc_v {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.main_visual .main_mobile_v {
    display: none;
}

.main_visual .slogan {
    position: absolute;
    top: 30%;
    left: 170rem;
    transform: translate(22%, 20%);

    font-size: 100rem;
    font-weight: 700;
    line-height: 1.1;
    color: rgb(255, 205, 0);
    font-family: 'Montserrat', sans-serif;
}

.main_visual p {
    position: absolute;
    bottom: 20%;
    left: 80rem;
    transform: translate(37%, 20%);
    font-size: 30rem;
    line-height: 1.2;
    color: var(--wc);
}

.main_visual h2 {
    position: absolute;
    bottom: 50%;
    right: 260rem;
    transform: translate(10%, 0);


    color: var(--wc);
    text-align: right;

    font-size: 30rem;
    font-weight: 700;
    margin: 0 0 20rem 0;
}

.main_visual .km_num {
    position: absolute;
    bottom: 42%;
    right: 330rem;
    transform: translate(10%, 0);


    color: var(--wc);
    text-align: right;
}

.main_visual .km_num .memberCountCon {
    font-size: 80rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.main_visual span {
    position: absolute;
    bottom: 43%;
    right: 275rem;
    transform: translate(80%, 10%);

    color: var(--wc);
    font-size: 40rem;
    font-weight: 700;
}


/* main_visual_mobile=============================================================== */
@media (max-width: 768px) {
    .main_visual {
        position: relative;
        height: 100vh;

        /* r */
        min-height: 216.4vw;
    }

    .main_visual .main_pc_v {
        /* r */
        display: none;
    }

    .main_visual .main_mobile_v {
        /* r */
        display: block;

        position: absolute;
        height: 100%;
        width: 46.21vh;
        min-width: 100%;
        min-height: 216.4vw;
        max-height: 100vh;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0px;
    }

    .main_visual .slogan {
        position: absolute;
        top: 30%;
        /* r */
        left: 0;
        transform: translate(10%, 20%);
        font-size: 60rem;
        font-weight: 700;
        line-height: 1.1;
        color: rgb(255, 205, 0);
        font-family: 'Montserrat', sans-serif;
    }

    .main_visual p {
        position: absolute;
        bottom: 100rem;
        /* r */
        left: 0;
        transform: translate(5%, 20%);

        font-size: 20rem;
        line-height: 1.2;
        color: var(--wc);
    }

    .main_visual h2 {
        /* r */
        position: absolute;
        bottom: 250rem;
        left: 0;
        transform: translate(5%, 0);

        color: var(--wc);
        text-align: left;

        font-size: 20rem;
        width: 80%;
        font-weight: 700;
        margin: 0;
    }

    .main_visual .km_num {
        position: absolute;
        bottom: 200rem;
        /* r */
        left: 0;
        transform: translate(25%, 0);
        color: var(--wc);
        text-align: left;
    }

    .main_visual .km_num .memberCountCon {
        /* r */
        font-size: 40rem;

        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }

    .main_visual span {
        /* r */
        position: absolute;
        bottom: 220rem;
        left: 230rem;
        transform: translate(50%, 80%);

        color: var(--wc);
        font-size: 20rem;
        font-weight: 700;
    }

}


/* main_content */
.main_content .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main_content .content .story_txt {
    margin: 140rem auto;
}

.main_content .content .story_txt strong {
    display: block;
    font-size: 40rem;
    font-weight: 700;
    line-height: 46rem;
    margin: 0 0 24rem 0;
}

.main_content .content .story_txt p {
    font-size: 20rem;
    font-weight: 400;
    line-height: 30rem;
    margin: 0 0 30rem 0;
    color: var(--gc);
}

.main_content .content .story_txt span {
    display: block;
    font-size: 20rem;
    font-weight: 500;
}

.main_content .content .story_txt span a:hover {
    color: #FFCD00;
}

.main_content .content .story_txt span i {
    margin: 0 0 0 5px;
}

.main_content .content .story_video video,
.main_content .content .story_pic img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* main_content_mobile=============================================================== */
@media (max-width: 768px) {

    /* r */
    .main_content {
        padding: 0;
    }

    .main_content .content {
        margin: 0;
        padding: 0;
    }

    .main_content .content {
        display: grid;
        /* r */
        grid-template-columns: repeat(1, 1fr);
    }

    .main_content .content .story_txt {
        /* r */
        margin: 70rem auto;

    }

    .main_content .content .story_txt strong {
        display: block;
        /* r */
        font-size: 28rem;
        font-weight: 700;
        line-height: 34rem;
        margin: 0 0 12rem 0;
    }

    .main_content .content .story_txt p {
        /* r */
        font-size: 15rem;
        font-weight: 400;
        line-height: 1.2;
        margin: 0 0 15rem 0;
        color: var(--gc);
    }

    .main_content .content .story_txt span {
        /* r */
        display: block;
        font-size: 14rem;
        font-weight: 500;
    }

    .main_content .content .story_txt span a:hover {
        color: #FFCD00;
    }

    .main_content .content .story_txt span i {
        margin: 0 0 0 5px;
    }

    .main_content .content .story_video video,
    .main_content .content .story_pic img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}


/* main_banner */
.main_banner {
    height: 800rem;
    background: url(../images/kakaocars_icon.png) no-repeat bottom right 20%;
    background-size: 70%;
    background-color: rgb(30, 35, 61);
}

.main_banner .banner_tit {
    font-size: 40rem;
    font-weight: 700;
    /* width: 550rem; */
    color: var(--wc);
    line-height: 1.4;

    padding: 150rem 0;

    word-break: keep-all;
    overflow-wrap: break-word;

}

.main_banner .banner_tit strong {
    color: #FFCD00;
    display: block;

    margin: 0 0 50rem 0;
}


.main_banner span {
    display: block;
    font-size: 18rem;
    font-weight: 500;
    color: var(--wc);

}

@media (max-width: 768px) {
    .main_banner span {

        margin: 0;
    }
}


.main_banner span:hover {
    color: #FFCD00;
}



/* main_banner_mobile */







/* main_event */
.main_event {
    position: relative;
}

.main_event video {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    /* 먼가 틈이 생길때!! */
}

.main_event .banner_tit {
    position: absolute;
    top: 250rem;
    left: 230rem;
    color: var(--wc);
}

.main_event .banner_tit h3 {
    font-size: 30rem;
    font-weight: 700;
    line-height: 46rem;
    margin: 0 0 30rem 0;
}

.main_event .banner_tit strong {
    display: block;
    margin: 0 0 30rem 0;
}

.main_event .banner_tit span {
    display: block;
}



/* footer */
.footer {
    background: var(--bc);
    color: var(--wc);
}

.footer .ft_top {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60rem;
    color: rgba(255, 255, 255, 0.6);
    padding: 70rem 0;
}

@media (max-width: 768px) {
    .footer .ft_top {
        display: none;
    }
}


.footer .ft_top h3 {
    color: var(--wc);
    font-size: 18rem;
    font-weight: 500;
    margin: 0 0 20rem 0;
}

.footer .ft_top li {
    margin: 0 0 10rem 0;
}

.footer .ft_top li a {
    font-size: 14rem;
}

.footer .ft_btm {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    font-size: 14rem;
    padding: 30rem;
}